.actionBar {
    position: fixed;
    width: calc(100% - 1rem - 81.96px);
    left: 81.96px;
    bottom: 1rem;
    background: var(--mantine-color-white);
    padding: 1rem 0;
    border-top: 1px solid var(--mantine-color-gray-3);
    z-index: 1;
    border-radius: 0 0 1rem 1rem;
}
