.pageLayout {
  height: 100%;
  width: 100%;
  padding-right: 1rem;
}

.pageBody {
  height: 100%;
}

.main {
    overflow: hidden;
    gap: 1rem;
}

.pageContent {
    display: flex;
    height: 100%;
    overflow: auto;
    background: var(--mantine-color-white);
    border-radius: 1rem;

    &::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border: 3px solid transparent;
        background-clip: content-box;
        border-radius: 0.25rem;
        cursor: pointer;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.emptyState {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    max-width: 30.8125rem;
    width: 100%;
    margin: auto;
    gap: 1.5rem;
}

.setupTracker {
    align-items: flex-start;
    justify-content: center;
    padding: 2.5rem 1.5rem;
}

.paperBox {
    border: 1px solid var(--mantine-color-gray-4);
    border-radius: 1rem;
    padding: 1.5rem;
    position: sticky;
    top: 4rem;
}

.fullWidth {
    width: 100%;
}

.innerPaper {
    background: var(--mantine-color-white);
    border: 1px solid var(--mantine-color-gray-3);
    border-radius: 0.5rem;
    width: 100%;
    gap: 2rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    position: relative;

    button[aria-label="Remove policy topic"] {
        position: absolute;
        top: .125rem;
        right: .125rem;
        opacity: 0.5;
        transition: opacity 0.15s ease;

        &:hover {
            opacity: 1;
        }
    }
}

.convertFromTrackingBoard, .uploadURLPDF, .fromScratch {
    width: 100%;
    gap: 2rem;
}

.uploadedFile {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--mantine-color-gray-3);
    background: var(--mantine-color-gray-0);
    gap: 1rem;
    width: 100%;
    max-width: 10rem;
    position: relative;

    button[aria-label="Remove file"] {
        position: absolute;
        top: 0.125rem;
        right: 0.125rem;
        opacity: 0.5;
        transition: opacity 0.15s ease;

        &:hover {
            opacity: 1;
        }
    }
}

.uploadedFileName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    Display: block;
    max-width: 100%;
}

:global(.mantine-Breadcrumbs-root), .stickyBreadcrumbs {
    position: sticky;
    top: 0;
    padding: 1rem 1.5rem;
    background: white;
    z-index: 1;
}

.previewTracker {
    width: 100%;
    padding: 1.5rem 1.5rem 0;
    gap: 1rem;
    overflow: auto;
    height: 100%;
}

.previewTrackerColumn {
    padding: 1.5rem;
    border: 1px solid var(--mantine-color-gray-4);
    border-radius: 1rem;
    background: var(--mantine-color-white);
    overflow: hidden;
    height: 100%;
    gap: 1.5rem;

    :global(.mantine-Textarea-input) {
        height: auto!important;
    }
}

.policyTopicBack {
    background: var(--mantine-color-gray-0);
    border-radius: 0.5rem;
    border: 1px solid var(--mantine-color-gray-4);
    padding: 1rem;
    gap: 1rem;

    :global(.mantine-InputWrapper-root) {
        flex-direction: row;
        align-items: center;
        gap: 1rem;

        label {
            width: auto;
            white-space: nowrap;

            p {
                color: var(--mantine-color-gray-6);
                letter-spacing: 0.4px;
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }

        button {
            min-width: auto;
        }
    }
}

.updateFeedActions {
    margin-top: auto;
}

.feedHeading {
    justify-content: space-between;
    align-items: center;

    :global(.mantine-Badge-root) {
        height: 1.5rem;
        padding: 0.25rem 0.5rem;

        span {
            font-size: 0.75rem;
            line-height: 1rem;
            letter-spacing: 0.03125rem;
            font-weight: 400;
            text-transform: none;
        }
    }
}

.feedBill {
    justify-content: space-between;
    align-items: center;
    gap: 0.25rem;

    a {
        white-space: nowrap;
    }
}

.snippetText {
    p {
        font-weight: 400;
        color: var(--mantine-color-gray-8);
        line-height: 1rem;
        font-size: 0.75rem;

        mark {
            background: var(--mantine-color-violet-7);
            color: var(--mantine-color-white);
            font-weight: 500;
        }
    }
}

.feedLoadMore {
    justify-content: center;
    margin-top: auto;
}

.feedActions {
    width: 100%;
    justify-content: flex-end;
    padding: 0 1.5rem;
    gap: 0.5rem;
}

.trackingBoardPage {
    padding: 2rem 2.5rem;
    gap: 1.5rem;
    overflow: hidden;
}

.trackingBoardHeading {
    gap: 2rem;
    width: 100%;

    :global(.mantine-InputWrapper-root) {
        width: 100%;
        gap: 0;
    }
}

.trackingBoardFilters {
    gap: 0.5rem;
    align-items: center;

    button {
        span {
            gap: 0.25rem;
        }
    }
}

.trackingBoardViewOptions {
    gap: 1rem;
    align-items: center;
}

.trackingBoardContent {
    > div {
        background-color: transparent;
        box-shadow: none;
        border: none;

        button[data-collapse="true"] {
            border-radius: 0.5rem;
            border: none!important;
            background-color: var(--mantine-color-gray-1)!important;
        }
    }

    div:has(.trackingBoardCollapse) {
        border-radius: 0.5rem;
    }
}

.trackingBoardCollapse {
    padding: 0;

    > div {
        padding: 0 0.25rem 1rem!important;
        border-top: none!important;
    }

    table {
         td {
            padding: .5rem .75rem;
            vertical-align: baseline;

            > div {
                white-space: wrap;
                word-break: break-all;
                overflow: auto;
                text-overflow: unset;
            }

            &[data-cell-index="0"] {
                padding-left: 0.75rem;
            }
        }

        th {
            padding: .5rem .75rem;

            &:first-child {
                padding-left: 0.75rem;
            }
        }
    }
}

.resultsTracker {
    padding-top: 1rem;
    gap: 0.5rem;

    strong {
        font-weight: 500;
    }

    :global(.mantine-Badge-root) {
        height: 1.5rem;
        padding: 0.25rem 0.5rem;

        span {
            font-size: 0.75rem;
            line-height: 1rem;
            letter-spacing: 0.03125rem;
            font-weight: 400;
            text-transform: none;
        }
    }
}

.reviewModePage {
    overflow: hidden;
    padding: 1rem;
}

.reviewModeSection {
    border-radius: 1rem;
    border: 1px solid var(--mantine-color-gray-3);
    width: 100%;
    background: var(--mantine-color-white);
    overflow: hidden;
    padding: 1rem;
}

.reviewModeHeading {
    background-color: var(--mantine-color-gray-8);
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;

    a[aria-label="Back to view mode"] {
        text-decoration: underline;
        font-weight: 500;
    }

    button[aria-label="Select tracking board"] {
        transition: none;
        border: none!important;

        span {
            color: var(--mantine-color-white);
            font-weight: 500;
        }

        &:hover, &:focus, &:active, &[data-expanded="true"] {
            background-color: var(--mantine-color-gray-7)!important;

            span {
                color: var(--mantine-color-white);
            }
        }
    }

    div {
        display: flex;
        flex: 1;

        &:nth-child(2) {
            justify-content: center;
        }

        &:nth-child(3) {
            justify-content: flex-end;
        }
    }
}

.billsQueue {
    padding: 0 1rem;
    gap: 1rem;

    a {
        white-space: nowrap;
    }
}

.reviewModeStepCheck {
    background-color: var(--mantine-color-gray-3);
    width: 1rem;
    height: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:has(svg) {
        background-color: var(--mantine-color-green-5);
    }
}

.reviewModeMatch {
    background-color: var(--mantine-color-gray-0);
    border-color: var(--mantine-color-gray-3);
}

.reviewModeBillFilters {
    gap: 0.5rem;

    button {
        svg {
            transition: transform 0.2s ease;
        }
    }

    button[data-expanded="true"] {
        :global(.mantine-Button-label) {
            svg {
                transform: rotate(180deg);
            }
        }
    }
}

.billMainSection {
    padding-top: 0.75rem;
}

.summaryContent {
    padding: 0.5rem 0;
    gap: 0.5rem;

    p {
        font-size: 0.75rem;
        letter-spacing: 0.025rem;
        line-height: 1rem;
    }

    a {
        font-size: 0.75rem;
    }
}

.billSponsorsSection, .billSnippetsSection {
    gap: 0.75rem;
    width: 100%;
    margin-bottom: 0.75rem;
}

.billSponsorsCards {
    gap: 0.75rem;
    width: 100%;
}

.billSponsorCard {
    width: auto;
    min-width: 25rem;
    max-width: 50rem;

    &[role="button"] {
        cursor: pointer;
    }
}

.billSnippets {
    max-width: 43.25rem;
    width: 100%;

    mark {
        background: var(--mantine-color-violet-7);
        color: var(--mantine-color-white);
        font-weight: 500;
    }
}

.copilotDrawer {
    min-width: 22.5rem;
    max-width: 22.5rem;
    width: 100%;
    border-radius: 1rem;
    padding: 0;
    background: var(--mantine-color-white);
    gap: 0;
    overflow: hidden;
}

.copilotHeading {
    padding: 1rem 1.5rem;
    padding-right: 1rem;
    justify-content: space-between;
    align-items: center;
}

.copilotActions {
    padding: 0 1.5rem;
    justify-content: space-between;
}

.copilotContent {
    height: 100%;
    overflow: auto;
    align-items: center;
    width: 100%;
    padding: 4rem 1.5rem 0;
    gap: 0;

    &::-webkit-scrollbar {
        width: 0.75rem;
        height: 0.75rem;
        background: transparent;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
        cursor: pointer;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.2);
        border: 3px solid transparent;
        background-clip: content-box;
        border-radius: 0.25rem;
        cursor: pointer;
        border-radius: 1rem;
    }

    &::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.copilotSendMessage {
    width: 100%;
    position: sticky;
    z-index: 5;
    margin: 2rem 0 1rem 0;

    :global(.mantine-Textarea-root) {
        width: 100%;
    }

    :global(.mantine-Textarea-input) {
        min-height: rem(56px)!important;
        max-height: 25rem!important;
        border-radius: rem(28px);
        width: 100%;
        padding: 0.75rem 1rem!important;
        padding-left: 1.25rem!important;
        font-size: 1rem;
        padding-top: 0.925rem!important;
        padding-right: 3.5rem!important;
        position: relative;
        border: 1px solid var(--mantine-color-violet-1);

        &:focus {
            border-color: var(--mantine-color-violet-3);
            background-color: var(--mantine-color-violet-0);
            box-shadow: none;
        }

        &::-webkit-scrollbar {
            display: none;
        }
    }

    :global(.mantine-InputWrapper-label) {
        position: absolute;
        z-index: 1;
        top: 50%;
        transform: translateY(-50%);
        left: 1.5rem;
        pointer-events: none;

        p {
            font-weight: 400;
            color: var(--mantine-color-gray-5);
        }
    }

    button[aria-label="Send"] {
        position: absolute;
        right: 0.5rem;
        bottom: 0.5rem;
    }
}

.glowEffect {
    position: absolute;
    filter: blur(20px);
    -webkit-filter: blur(20px);
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;
    transform: scale(0.9, 0.8);

    &::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        width: 500px;
        height: 500px;
        border-radius: 50%;
        background: linear-gradient(to right, var(--mantine-color-violet-1), var(--mantine-color-violet-5), var(--mantine-color-violet-1), var(--mantine-color-violet-5));
        animation: gradient 3s linear infinite;
    }

    @keyframes gradient {
        0% {
            transform: translate(-50%, -50%) rotate(0deg);
        }

        100% {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }
}

.copilotBillsActions {
    margin: 2rem 0;
    gap: 1rem;
    width: 100%;
    align-items: center;

    div:has(.billActionsCollapse) {
        width: 100%;
        padding: 0 1.5rem;

        button[data-collapse="true"] {
            padding: 0.75rem 0;
        }
    }
}

.billActionsCollapseWrapper {
    width: 100%;
    padding: 0!important;
}

.billActionsCollapse {
    padding: 0 .25rem;

    button {
        width: 100%;

        span {
            width: 100%;
        }
    }
}

.copilotChatInlineActions {
    gap: 0.5rem;
    padding: 0;
}

.customTopNav {
    background-color: var(--mantine-color-violet-7);
    padding: 0.5rem 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    height: rem(56px);
    gap: 1rem;

    svg {
        path {
            fill: var(--mantine-color-white);
        }
    }

    a {
        display: flex;

        svg {
            width: 36px;
            height: 36px;
        }
    }

    :global(.mantine-Flex-root) {
        flex: 1;
    }

    .searchBar {
        width: 100%;
        min-width: 580px;
        position: relative;

        i {
            width: 3rem;
            height: 2.5rem;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            left: 0;
            top: 0;
            color: var(--mantine-color-white);
        }

        input {
            width: 100%;
            border-radius: 2rem;
            padding-left: 3rem;
            background-color: rgba(255,255,255,0.2);
            color: var(--mantine-color-black);
            border: none;
            height: 2.5rem;
            color: var(--mantine-color-white);
            transition: background-color 0.2s ease, border-color 0.2s ease, box-shadow 0.2s ease;
            font-size: 0.875rem;

            &::placeholder {
                color: rgba(255,255,255,.4);
            }

            &:focus {
                outline: none;
                box-shadow: 0 0 0 2px var(--mantine-color-violet-4);
            }
        }
    }
}
